---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/weather/forecast?apikey=<TOMORROW_API_KEY>&location=92120%20US&timesteps=1m,1d&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 2b053376-ee5e-41da-8bcb-505d72c29099
      X-Db-Credits-Cost:
      - '26'
    body:
      encoding: UTF-8
      string: |-
        {
          "timelines": {
            "minutely": [
              {
                "time": "2024-12-02T17:15:00Z",
                "values": {
                  "cloudBase": 1.37,
                  "cloudCeiling": null,
                  "cloudCover": 26,
                  "dewPoint": 31.33,
                  "freezingRainIntensity": 0,
                  "humidity": 30,
                  "precipitationProbability": 0,
                  "pressureSurfaceLevel": 29.52,
                  "rainIntensity": 0,
                  "sleetIntensity": 0,
                  "snowIntensity": 0,
                  "temperature": 63.28,
                  "temperatureApparent": 63.28,
                  "uvHealthConcern": 0,
                  "uvIndex": 1,
                  "visibility": 9.94,
                  "weatherCode": 1100,
                  "windDirection": 331.63,
                  "windGust": 2.24,
                  "windSpeed": 1.54
                }
              },
              {
                "time": "2024-12-02T17:16:00Z",
                "values": {
                  "cloudBase": 1.37,
                  "cloudCeiling": null,
                  "cloudCover": 27.64,
                  "dewPoint": 31.5,
                  "freezingRainIntensity": 0,
                  "humidity": 30.27,
                  "precipitationProbability": 0,
                  "pressureSurfaceLevel": 29.52,
                  "rainIntensity":[...]
