---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/weather/forecast?apikey=<TOMORROW_API_KEY>&location=invalid123%20US&timesteps=1m,1d&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 530626ee-f0e1-4966-aa5d-7be6380fab0a
    body:
      encoding: UTF-8
      string: |-
        {
          "code": 400001,
          "type": "Invalid Query Parameters",
          "message": "The entries provided as query parameters were not valid for the request. Fix parameters and try again: 'location' - failed to query by the term 'invalid123 US', try a different term"
        }
  recorded_at: Mon, 02 Dec 2024 17:15:14 GMT
recorded_with: VCR 6.3.1
