<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/header' %>
    </header>

    <main class="container mx-auto mt-14 px-12 pb-6 flex-col">
      <%= render partial: 'layouts/flash_messages' %>

      <%= yield %>
    </main>
  </body>
</html>
